body {
  background-color: beige;
}

.menu {
  position: absolute;
  top: 10px;
  right: 10px;
}

.enlace {
  width: 100%;
  max-width: 150px;
  height: 75px;
  background-color: #50e02c;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}


header h1 {
  font-size: 40px;
  margin-left: 50px;
  font-style: inherit;
}

header h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid black;
  width: 900px;
  margin-top: 0px;
  margin-left: 150px;
}

header img {
  margin-top: 9px;
  margin-left: 200px;
  width: 800px;
  border: 2px solid black;
}

.info {
  position: absolute;
  left: 300px;
  top: 420px;
}

table {
  background-color: rgb(253, 255, 131);
  border-collapse: collapse;
  border: 2px solid black;
  margin: 5px;
}

td {
  border: 1px solid black;
  padding: 8px;
}

ol#ABC {
  list-style-type: upper-alpha;
  padding-left: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
}